.blue {
    background: #6ed4c9;
}

.blue-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aliceblue;
}

.green {
    background: lightgreen;
}

.green-text {
    color: aliceblue;
}
.yellow {
    background: #f3ea99;
}

.yellow-text {
    color: #e35b27;
}