
.message {
    display: flex;
    align-items: flex-end;
}

.image {
    width: 50px;
    height: 50px;
    border-radius: 50%
}

.info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    max-width: 300px;
    padding: 15px;
    border-radius: 15px;
    background: rgba(136, 135, 135, .5);
    border-bottom-left-radius: 0;
}

.name {
    color: lightyellow;
}

.time {
    align-self: flex-end;
}

.messageText {
    word-wrap: break-word;
}