.checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    background: darkred;
}
.checkbox:checked {
    appearance: none;
    background: pink;
}
.checkbox:focus {
    outline: lightgreen solid 1px ;
}

.spanClassName {

}