
.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: magenta;
}

.active {
    color: magenta;
}

.block {
    width: 25px;
    height: 21px;
    background: burlywood;
}

.header {

}

.worksBlockLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    transition-duration: 500ms;
    transform: translate(-240px);
}
.worksBlockLink:hover {
    transition-duration: 500ms;
    transform: translate(0);
}
