@keyframes blink {
    0% {
        left: -130%;
    }
    100% {
        left: 130%;
    }
}

.default {
    background: lightgreen;
    color: black;
    outline: none;
}

.red {
    background: red;
}

.button {
    position: relative;
    margin: 10px;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    display: block;
    content: '';
    position: absolute;

    left: -130%;
    top: 0;
    height: 100%;
    width: 20%;

    transform: skew(45deg);

    background: lightyellow;
    opacity: 0.7;
    z-index: 10;
}

.button:hover::after {
    animation: blink 0.3s ease;
}

.button:hover::before {
    display: block;
    content: '';
    position: absolute;

    left: -100vw;
    top: 0;
    height: 100vh;
    width: 300vw;

    background: lightyellow;
    opacity: 0.2;
    z-index: 5;
}

.button:focus {
    outline: greenyellow solid 1px;
}

.button:active {
    background: greenyellow;
}

.button:disabled {
    background: darkgrey;
    cursor: auto;
}

.button:disabled::after {
    z-index: -1;
}

.button:disabled::before {
    z-index: -1;
}
